<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground</title>
<style>

    .topblock
    {
        width: 800px;
        height: 300px;
       
    }

    .smallb
    {
        width: 200px;
        height: 200px;
        background-color: powderblue;
        display: inline-block;
        border-style: solid;
        border-width: 5px;
        border-color: navy;
    }



</style>

</head>

<body>

    <div class= h1top>
        <h1>Welcome to Level 1 Playground!</h1>
    </div>

    <div class="topblock">

        <div class ="smallb">
        </div>

        <div class ="smallb">
        </div>

        <div class ="smallb">
        </div>


    </div>




</body>